body{
    font-family: Arial, sans-serif;
    background-color: #0a121d;  /*rgb(2, 3, 48,0.8) */
    margin: auto ;
    justify-content: center;
}
h4 {
    font-size: 2.28rem;
    margin: 1.52rem 0 0.912rem 0;
    text-align: center;
    color: black;
}
#view{
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
table{
    background-color: rgb(240, 248, 255, 0.8);
    border: 1px solid black;
    border-collapse: collapse;
}
#view table{
    width: 90%;
    height:100%;
    text-align: center;
}
#view button img{
    width: 20px;
    height:20px;
    padding-left: 8px;
}
th{
    background-color:#04392a;
    color: white;
    height: 50px;
    position: sticky;   
}
::-webkit-scrollbar{
    display: none;
  }
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
